.main__container {
	padding: 40px 157.58px 0;
	display: flex;
	gap: 28px;

	.content__container {
		
		.vacancies__container {
			width: 773px;
			height: 660px;
		}
		.pagination {
			display: flex;
			justify-content: center;
			margin-top: 40px;
		}
	}
}
