.main__container {
	padding: 40px 0 0;
	display: flex;
	gap: 28px;
	height: 100%;

	.content__container {
		width: 71vw;

		.vacancies__container {
		}
		.pagination {
			display: flex;
			justify-content: center;
			margin-top: 40px;
		}
	}
}
