.vacancies {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;

	.vacancy {
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding: 24px;
		gap: 90px;
		width: 773px;
		height: 137px;
		background: #ffffff;
		border: 1px solid #eaebed;
		border-radius: 12px;
    margin-top: 16px;
	}
}
