.vacancies {
	gap: 15px;

	.vacancy {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding: 24px;
		background: #ffffff;
		border: 1px solid #eaebed;
		border-radius: 12px;
		margin-top: 16px;
		height: 137px;
		width: 100%;

		.vacancy__title__container {
			display: flex;
			justify-content: space-between;
			width: 100%;

			.vacancy__title {
				font-family: 'Inter';
				font-style: normal;
				font-weight: 600;
				font-size: clamp(0.75rem, calc(0.6071rem + 0.7143vw), 1.25rem);

				line-height: 24px;
				color: #5e96fc;
				width: 90%;
				word-wrap: normal;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -moz-box;
				-moz-box-orient: vertical;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				line-clamp: 1;
				box-orient: vertical;
			}

			svg {
				cursor: pointer;
			}
		}

		.vacancy__description {
			display: flex;
			align-items: center;
			width: 90%;

			.vacancy__salary {
				font-family: 'Inter';
				font-style: normal;
				font-weight: 600;
				font-size: clamp(0.625rem, calc(0.5179rem + 0.5357vw), 1rem);
				line-height: 20px;
				color: #232134;
				display: flex;
			}

			.dot {
				color: #7b7c88;
				margin: 0 12px;
			}

			.vacancy__type__work {
				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: clamp(0.625rem, calc(0.5179rem + 0.5357vw), 1rem);
				line-height: 20px;
				color: #232134;
			}
		}

		.vacancy__location {
			display: flex;

			img {
				margin-right: 10px;
			}
			.vacancy__location__city {
				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: clamp(0.625rem, calc(0.5179rem + 0.5357vw), 1rem);
				line-height: 19px;
			}
		}
	}
}
