.layout__container {
	max-width: 1440px;
	height: 100vh;
	background: #f7f7f8;
	border-radius: 12px;
	margin: auto auto;

	.main__content {
		background: #f7f7f8;
		width: 77.5vw;
		height: calc(91vh);
		margin: 0 auto;
	}
}
