.layout__container {
	width: 100vw;
	height: 100vh;
	background: #f7f7f8;
	border-radius: 12px;

	.main__content {
		background: #f7f7f8;
		max-width: 1116px;
		margin: 0 162px;
		display: flex;
		justify-content: space-between;
		min-height: 460px;
	}
}

@media only screen and (min-width: 1440px) {
	.layout__container {
		width: 1440px;
		height: 900px;
	}
}
